<div class="row">
    <div class="col s12">
        <div class="card-content white-text">
          <h5 class="card-title #f57c00-text center-align #f57c00 orange darken-2 custom_style">Air Condioner</h5>             
        </div>
    </div>
</div>
<!-- <div class="container"> -->
<div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/airconditoner/1 (1).jpg">
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Copper Pipes</span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/airconditoner/1 (2).jpg">
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Compressors</span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/airconditoner/1 (3).jpg">
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Contactors</span>
                </div>
            </div>
        </div>

      <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/airconditoner/1 (4).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Contactors</span>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/airconditoner/1 (5).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Thermostats</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/airconditoner/1 (6).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Thermostats</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/airconditoner/1 (7).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Brass Fittings</span>
            </div>
        </div>
    </div>

  <div class="col s12 m3">
    <div class="card darken-2 z-depth-5">
        <div class="card-image">
            <img src="assets/images/all/airconditoner/1 (8).jpg" >
        </div>
        <div class="card-content #1a237e indigo darken-2 white-text">
            <span class="card-title darken-2">Copper fittings</span>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/airconditoner/1 (9).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Gas Refrigerants</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/airconditoner/1 (10).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Map Gas</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/airconditoner/1 (11).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Welding Torch</span>
            </div>
        </div>
    </div>

  <div class="col s12 m3">
    <div class="card darken-2 z-depth-5">
        <div class="card-image">
            <img src="assets/images/all/airconditoner/1 (12).jpg">
        </div>
        <div class="card-content #1a237e indigo darken-2 white-text">
            <span class="card-title darken-2">Brazing Rods</span>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/airconditoner/1 (13).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Capacitors</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/airconditoner/1 (14).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Tools</span>
            </div>
        </div>
    </div>
</div>
</div>
  <!-- </div> -->

  <hr>

<div class="row">
    <div class="col s12">
        <div class="card-content white-text">
          <h5 class="card-title #f57c00-text center-align #f57c00 orange darken-2 custom_style">Kitchen and Resturant</h5>             
        </div>
    </div>
</div>
<!-- <div class="container"> -->
<div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/kitcfhenRestorant/1 (1).jpg">
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Magnetron</span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/kitcfhenRestorant/1 (2).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Gas valve for Frayer</span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/kitcfhenRestorant/1 (3).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Cooling fan </span>
                </div>
            </div>
        </div>

      <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (4).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Coffee machine parts </span>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (5).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Thermocouple</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (6).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Gas valve for Frayer</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (7).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Gas Burner</span>
            </div>
        </div>
    </div>

  <div class="col s12 m3">
    <div class="card darken-2 z-depth-5">
        <div class="card-image">
            <img src="assets/images/all/kitcfhenRestorant/1 (8).jpg"  >
        </div>
        <div class="card-content #1a237e indigo darken-2 white-text">
            <span class="card-title darken-2">Grid for gas stove</span>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (9).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Showarma burner</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (10).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Gas burner</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (11).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Ice machine parts</span>
            </div>
        </div>
    </div>

  <div class="col s12 m3">
    <div class="card darken-2 z-depth-5">
        <div class="card-image">
            <img src="assets/images/all/kitcfhenRestorant/1 (12).jpg"  >
        </div>
        <div class="card-content #1a237e indigo darken-2 white-text">
            <span class="card-title darken-2">Oven parts</span>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (13).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Gas valve 21S</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (14).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Ignition switch</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (15).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Thermocouple</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (16).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Spindle valve</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (17).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Fan motor</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (18).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Coffee machine heating</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (19).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Chapatti burner</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (20).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Dishwasher pump fitting</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (21).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Ice machine parts</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (22).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Heating element</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/kitcfhenRestorant/1 (23).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Dishwaher heating elements</span>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-content white-text">
          <h5 class="card-title #f57c00-text center-align #f57c00 orange darken-2 custom_style">Oven</h5>             
        </div>
    </div>
</div>
<!-- <div class="container"> -->
<div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/oven/1 (1).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Oven fuse</span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/oven/1 (2).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Oven capacitor</span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/oven/1 (3).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Oven bulb</span>
                </div>
            </div>
        </div>

      <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/oven/1 (4).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Burners</span>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/oven/1 (5).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Oven heater</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/oven/1 (6).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Thermos couple</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/oven/1 (7).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Ignition box </span>
            </div>
        </div>
    </div>

  <div class="col s12 m3">
    <div class="card darken-2 z-depth-5">
        <div class="card-image">
            <img src="assets/images/all/oven/1 (8).jpg"  >
        </div>
        <div class="card-content #1a237e indigo darken-2 white-text">
            <span class="card-title darken-2">Ceramic heaters</span>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/oven/1 (9).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Thermostate </span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/oven/1 (10).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Seafty thermoset</span>
            </div>
        </div>
    </div>
</div>
</div>

<hr>

<div class="row">
    <div class="col s12">
        <div class="card-content white-text">
          <h5 class="card-title #f57c00-text center-align #f57c00 orange darken-2 custom_style">Refrigerator</h5>             
        </div>
    </div>
</div>
<!-- <div class="container"> -->
<div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/refrigerator/1 (1).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Condencers</span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/refrigerator/1 (2).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Eveporators</span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/refrigerator/1 (3).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Filters</span>
                </div>
            </div>
        </div>

      <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (4).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Door switches</span>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (5).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Thermostate</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (6).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Valve charging access</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (7).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Defrost switch </span>
            </div>
        </div>
    </div>

  <div class="col s12 m3">
    <div class="card darken-2 z-depth-5">
        <div class="card-image">
            <img src="assets/images/all/refrigerator/1 (8).jpg"  >
        </div>
        <div class="card-content #1a237e indigo darken-2 white-text">
            <span class="card-title darken-2">Fridge bulb</span>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (9).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Defrost switch</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (10).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Thermostate</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (11).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Fan motors</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (12).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Fan motors</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (13).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Motor eveporators</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (14).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Motor eveporators</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (15).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Motor eveporators</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (16).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Cooling fan DC</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/refrigerator/1 (17).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">adopter</span>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-content white-text">
          <h5 class="card-title #f57c00-text center-align #f57c00 orange darken-2 custom_style">Washing Machine</h5>             
        </div>
    </div>
</div>
<!-- <div class="container"> -->
<div class="section">
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/washingMachine/1 (1).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Pulsators </span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/washingMachine/1 (2).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Pulsators </span>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card darken-2 z-depth-5">
                <div class="card-image">
                    <img src="assets/images/all/washingMachine/1 (3).jpg"  >
                </div>
                <div class="card-content #1a237e indigo darken-2 white-text">
                    <span class="card-title darken-2">Pulsators </span>
                </div>
            </div>
        </div>

      <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (4).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Pulsators </span>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (5).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Pulsators </span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (6).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Pulsators </span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (7).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Pulsators </span>
            </div>
        </div>
    </div>

  <div class="col s12 m3">
    <div class="card darken-2 z-depth-5">
        <div class="card-image">
            <img src="assets/images/all/washingMachine/1 (8).jpg"  >
        </div>
        <div class="card-content #1a237e indigo darken-2 white-text">
            <span class="card-title darken-2">Gear box metal</span>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (9).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Pulsators</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (10).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Shock absorber </span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (11).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Plusators</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (12).jpg"  >
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Pully aluminium</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (13).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Solenoid valve</span>
            </div>
        </div>
    </div>

    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (14).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Door switch</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (15).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Drain motor LG</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (16).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Solenoid valve</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (17).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Solenoid valve</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (18).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Pulsators</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (19).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Door switch</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (20).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Pulsators</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (21).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Shock absorber</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (22).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Pulsators</span>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
        <div class="card darken-2 z-depth-5">
            <div class="card-image">
                <img src="assets/images/all/washingMachine/1 (23).jpg">
            </div>
            <div class="card-content #1a237e indigo darken-2 white-text">
                <span class="card-title darken-2">Door rubber</span>
            </div>
        </div>
    </div>
</div>
</div>