<div class="row">
    <div class="col s12">
      <div class="card #1a237e indigo darken-2">
        <div class="card-content white-text">
          <h1 class="" style="text-align: center;">About</h1>
          <p class="about-para black-text white darken-2">
            We - <strong class="orange white-text darken-2">alQurban Spare Parts Trading L.L.C </strong> &nbsp; takes immense pleasure to introduce our comprehensive range of Cooling Systems, Home Appliances, Air-Conditioning, Refrigeration, Washing Machine,Oven & Kitchen Equipment Spare Parts at very attractive price in the ever dynamic and demanding market of the Middle East, especially targeting our business focus on all over UAE,  Gulf & Africa Region.
          </p>
          <hr>
          <p class="about-para black-text white darken-2">
            The Company is in a prime business location in whole sale and retail market <strong class="orange white-text darken-2">Deira – Dubai</strong>.
            Adding to our strength is experienced and knowledgeable team who will make available products both on wholesale and retail basis directly from factory to your doorsteps.
             
            Hence, we request your esteemed support by giving us an opportunity to promptly cater to your needs at best ever rates. Should you have any query or would like to know more about our pricing or products and services.
             
            Please do not hesitate to contact our Sales Team on phone or by e-mail.
             
            Thanks and Regards,
            
          </p>
          <p class="col s12 white" style="text-align:center">
            <img src="assets/images/logo/alqurbanlogo.png">
          </p>
        </div>
      </div>
    </div>
  </div>