<!-- <div class="navbar-fixed"> -->
 <nav class="#f57c00 orange darken-2 z-depth-5" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" routerLink="/" class="brand-logo">
      <img class="image_style" src="assets/images/logo/alqurbanlogo.png">
    </a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/products/">Products</a></li>
        <li><a routerLink="/about/">About</a></li>
        <li><a routerLink="/contact/">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/products/">Products</a></li>
        <li><a routerLink="/about/">About</a></li>
        <li><a routerLink="/contact/">Contact</a></li>
      </ul>
      <a id="menuID" href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <!-- </div> -->


  

  
