img.image_style {
    height: 66px !important;
}

.cutsom_style {
    text-align: center !important;
    font-size: 17px !important;
    margin-top: 20px !important;
    padding: 10px !important;
    font-weight: bold !important;
}