<div class="row">
    <div class="col s12">
      <div class="card #1a237e indigo darken-2" style="height: 600px;">
        <div class="card-content white-text">
          <h1 class="" style="text-align: center;">Contact</h1>
          <hr>
          <table class="#1a237e indigo darken-2 white-text stripped">
            <thead>
              <tr>
                <th>Email</th>
                <th>sales@alqurbantrading.com</th>
              </tr>
              <tr>
                <th>Address</th>
                <th>alQurban Sparte Parts Trading L.L.C<br><br>
                    P.O.Box: 379672, Daira Dubai – U.A.E <br></th>
              </tr>
              <tr>
              <th>Tel: </th>
                <th>00971 4 250 2412</th>
              </tr>
              <tr>
                  <th>Fax:</th>
                  <th>00971 4 250 2412</th>
              </tr>
              <tr>
                <th><i class="fa fa-facebook fa-3x white-text"></i></th>
                <th><a class="white-text" href="http://www.facebook.com/qurban.trading" target="_blank">http://www.facebook.com/qurban.trading</a></th>
            </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
